window {
  font-family: "Lilex Nerd Font";
  background-color: #1d2021;
}

#input {
  margin: 5px;
  border: none;
  border-radius: 10px;
  color: #ebdbb2;
  background-color: #3c3836;
}

#inner-box,
#outer-box
{
  margin: 5px;
  border-radius: 5px
  border: none;
  background-color: #1d2021;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #ebdbb2;
}

#entry:selected {
  font-weight: bold;
  background-color: #d79921;
  border-radius: 10px;
}

#text:selected {
  color: #1d2021;
}
