.no-border {
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.icon {
  font-size: 120px;
  margin-left: 40px;
}

.info {
  font-size: 48px;
  font-weight: 900;
}

.info-medium {
  font-size: 24px;
  font-weight: 900;
}

.info-medium-light {
  font-size: 22px;
  font-weight: 400;
}

.info-low-medium-light {
  font-size: 19px;
  font-weight: 400;
}

.text-info {
  font-size: 16px;
  font-weight: 500;
}
