.backup {
  border: 1px solid #1d2021;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.cpuTemp {
  border: 1px solid #1d2021;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.monitor {
  border: 1px solid #1d2021;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.extra {
  border: 1px solid #1d2021;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.ram-slider scale trough {
  all: unset;
  background-color: #7c6f64;
  border-radius: 50px;
  min-height: 8px;
  min-width: 95px;
  margin-bottom: 0px;
}

.ram-slider scale trough highlight {
  all: unset;
  background-color: #458588;
  color: #282828;
  border-radius: 10px;
}

.ram-slider slider {
  all: unset;
  color: #458588;
}

.cpu-slider scale trough {
  all: unset;
  background-color: #7c6f64;
  border-radius: 50px;
  min-height: 8px;
  min-width: 95px;
  margin-bottom: 0px;
}

.cpu-slider scale trough highlight {
  all: unset;
  background-color: #b16286;
  color: #282828;
  border-radius: 10px;
}

.cpu-slider slider {
  all: unset;
  color: #b16286;
}

.disk-slider scale trough {
  all: unset;
  background-color: #7c6f64;
  border-radius: 50px;
  min-height: 8px;
  min-width: 95px;
  margin-bottom: 0px;
}

.disk-slider scale trough highlight {
  all: unset;
  background-color: #689d6a;
  color: #282828;
  border-radius: 10px;
}

.disk-slider slider {
  all: unset;
  color: #689d6a;
}

.batt-slider scale trough {
  all: unset;
  background-color: #7c6f64;
  border-radius: 50px;
  min-height: 8px;
  min-width: 130px;
  margin-bottom: 0px;
}

.batt-slider scale trough highlight {
  all: unset;
  background-color: #98971a;
  color: #282828;
  border-radius: 10px;
}

.batt-slider slider {
  all: unset;
  color: #98971a;
}
