* {
  font-family: Lilex Nerd Font;
  margin: 1px 5px 1px 5px;
  border-radius: 10px;
}

window#waybar {
  background-color: rgba(20,22,23,0.95);
  border: 1px solid #1d2021;
}

#workspaces
{
  color: #d4be98;
  margin: 0px 0px 0px 0px;
}

#workspaces button 
{
  border-bottom: 4px solid #7c6f64;
  background-color: #504945;
  color: #d4be98;
}

#workspaces button.focused 
{
  border-bottom: 4px solid #d8a657;
  background-color: #473c29;
  color: #ddc7a1;
}

#workspaces button.urgent
{
  background-color: #ea6962;
  color: #ddc7a1;
}

#workspaces button:hover
{
  border-bottom: 4px solid #d3868d;
  color: #000000;
}

#mode
{
  border-bottom: 3px solid #442e2d;
  background-color: #7daea3;
  color: #141617;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}


#network,
#language,
#scratchpad,
#pulseaudio,
#idle_inhibitor
{
  border-bottom: 4px solid #7c6f64;
  background-color: #504945;
  color: #d4be98;
  border-radius: 10px;
  padding: 0px 8px 0px 10px;
}

#tray,
#mpris,
#clock,
#custom-dnd
{
  border-bottom: 4px solid #7c6f64;
  background-color: #504945;
  color: #d4be98;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}
