* {
  font-family: Lilex Nerd Font;
  border-radius: 2px;
  font-size: 13;
  min-height: 0;
}

window#waybar {
  background-color: rgba(20,22,23,0.5);
  color: #d4be98;
}

#hw,
#net,
#tray,
#mode,
#music,
#clock,
#system,
#options,
#scratchpad
{
  border: 2px solid #3c3836;
  background-color: #504945;
  padding: 2px 8px 3px 8px;
  margin: 0px 4px 0px 4px;
}

#hw,
#music,
#system
{
  border-right: 4px solid #a9b665;
}

#options
{
  padding: 2px 8px 3px 8px;
  margin: 0px 0px 0px 4px;
}

#workspaces
{
  border: 2px solid #3c3836;
  background-color: #504945;
  margin: 0px 4px 0px 0px;
}

#workspaces button 
{
  color: #d4be98;
}

#workspaces button.focused 
{
  background-color: #d8a657;
  font-weight: bold;
  color: #282828;
}

#workspaces button.urgent
{
  color: #ddc7a1;
}

#workspaces button:hover
{
  color: #000000;
}

#mode
{
  background-color: #7daea3;
  color: #141617;
}


#battery.warning,
#temperature.warning
{
  font-weight: bold;
  color: #d8a657;
}

#battery.critical,
#temperature.critical
{
  font-weight: bold;
  color: #ea6962;
}

#network.disabled,
#network.disconnected
{
  color: #e78a4e;
}

#tray:hover,
#network:hover,
#language:hover,
#bluetooth:hover,
#backlight:hover,
#custom-dnd:hover,
#pulseaudio:hover,
#custom-power:hover,
#idle_inhibitor:hover
{
  font-weight: bold;
  color: #d3869b;
  font-size: 18px;
  transition: all 0.2s ease;
}

