* {
  font-family: Lilex Nerd Font;
  border-radius: 2px;
  font-size: 12;
  min-height: 0;
}

window#waybar {
  background-color: #1d2021;
  color: #d4be98;
}

#hw,
#net,
#tray,
#mode,
#music,
#clock,
#system,
#options,
#scratchpad
{
  border: 2px solid #282828;
  background-color: #3c3836;
  padding: 0px 8px 0px 8px;
  margin: 0px 4px 0px 4px;
}

#options { margin: 0px 0px 0px 4px; }

#clock { margin: 0px 4px 0px 0px; }

#hw,
#music,
#system { border-right: 4px solid #98971a; }

#workspaces
{
  border: 2px solid #282828;
  background-color: #3c3836;
  margin: 0px 4px 0px 0px;
}

#workspaces button { color: #ebdbb2; }

#workspaces button.focused 
{
  background-color: #d79921;
  font-weight: bold;
  color: #282828;
}

#workspaces button.urgent { color: #fb4934; }

#workspaces button:hover { color: #1d2021; }

#mode
{
  background-color: #83a598;
  color: #282828;
}


#battery.warning,
#temperature.warning
{
  font-weight: bold;
  color: #fabd2f;
}

#battery.critical,
#temperature.critical
{
  font-weight: bold;
  color: #fb4934;
}

#network.disabled,
#network.disconnected { color: #d65d0e; }

#tray:hover,
#network:hover,
#language:hover,
#bluetooth:hover,
#backlight:hover,
#custom-dnd:hover,
#pulseaudio:hover,
#custom-power:hover,
#idle_inhibitor:hover
{
  font-weight: bold;
  color: #d3869b;
  font-size: 18px;
  transition: all 0.2s ease;
}

