window#osd {
  border-radius: 20px;
  border: 2px solid #141617;
  background: #1d2021;
}

#container {
  margin: 16px;
}

image,
label {
  color: #d4be98;
}

progressbar:disabled,
image:disabled {
  opacity: 0.5;
}

progressbar {
  min-height: 6px;
  border-radius: 10px;
  border: none;
}
trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #3c3836;
}
progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #d4be98;
}
