* {
  background-color: #282828;
}

window {
  background-color: #282828;
  color: #ebdbb2;
  font-family: Lilex Nerd Font;
}

button {
  all: unset;
  background-color: #121212;
  padding-left: 5px;
  margin-left: 5px;
}

.no-border {
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.weather {
  border: 1px solid #d79921;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.sway {
  border: 1px solid #d79921;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.playing {
  border: 1px solid #d79921;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.clock {
  border: 1px solid #d79921;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.volume {
  border: 1px solid #d79921;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.bright {
  border: 1px solid #d79921;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.battery {
  border: 1px solid #d79921;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.system {
  background-color: rgba(0,0,0,0);
  border-radius: 10px;
  padding: 0px;
}

.icon-box {
  border: 1px solid #d79921;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
  font-size: 25px;
  margin-left: 10px;
  margin-bottom: 17px;
}

.icon-box-start {
  border: 1px solid #d79921;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
  font-size: 25px;
  margin-left: 0px;
  margin-bottom: 17px;
}

.icon-box button:hover {
  color: #b8bb26;
}

.icon-box-start button:hover {
  color: #b8bb26;
}

.tray {
  border: 1px solid #d79921;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.music {
  border: 1px solid #d79921;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
}

.music-image {
  background-color: #282828;
  border-radius: 0px;
  padding: 5px;
}

.battery-slider scale trough {
  all: unset;
  background-color: #7c6f64;
  border-radius: 50px;
  min-height: 5px;
  min-width: 200px;
  margin-bottom: 0px;
}

.battery-slider scale trough highlight {
  all: unset;
  background-color: #fabd2f;
  color: #282828;
  border-radius: 10px;
}

.battery-slider slider {
  all: unset;
  color: #fabd2f;
}

.icon {
  font-size: 120px;
  margin-left: 40px;
}

.info {
  font-size: 48px;
  font-weight: 900;
}

.info-medium {
  font-size: 24px;
  font-weight: 900;
}

.info-medium-light {
  font-size: 22px;
  font-weight: 400;
}

.info-low-medium-light {
  font-size: 19px;
  font-weight: 400;
}

.musictitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.musicartist {
  font-size: 15px;
  margin-bottom: 10px;
}

.musicbtn {
  font-size: 20px;
  font-weight: 100;
}

.musicbtn button {
  background-color: #282828;
}

.musicbtn button:hover {
  background-color: #282828;
  color: #b8bb26;
}

.music-slider scale trough {
  all: unset;
  background-color: #7c6f64;
  border-radius: 50px;
  min-height: 5px;
  min-width: 240px;
  margin-bottom: 20px;
}

.music-slider scale trough highlight {
  all: unset;
  background-color: #fabd2f;
  color: #282828;
  border-radius: 10px;
}

.music-slider slider {
  all: unset;
  color: #fabd2f;
}

.system-icon {
  font-size: 25px;
  margin-left: 0px;
}

.system-icon button {
  font-size: 25px;
  margin-left: 0px;
}

.system-icon button:hover {
  color: #b8bb26;
}

.system-slider scale trough {
  all: unset;
  background-color: #7c6f64;
  border-radius: 50px;
  min-height: 5px;
  min-width: 130px;
  margin-bottom: 0px;
}

.system-slider scale trough highlight {
  all: unset;
  background-color: #fabd2f;
  color: #282828;
  border-radius: 10px;
}

.system-slider slider {
  all: unset;
  color: #fabd2f;
}

